.colorTileSection {
    display:inline;
}

.colorTile {
    vertical-align: center;
    width: 35vw;
    height: 35vw;
    margin: 10% 10% 10% 10%;
    border-radius: 30px;
    margin-left: auto;
    margin-right: auto;
}

.songInfo {
    width: 100%;
    float: center;
    text-align: center;
}

.songMetrics {
    width: 100%;
    float: center;
    text-align: center;
}